.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.bg-col {
  background-color: #2FA4B4;
}
.head {
  font-weight: 400;
  padding: 40px;
  text-align: center;
}
.sub-head1 {
  font-weight: 400;
  padding: 30px;
}
.sub-head3 {
  font-weight: 400;
  padding: 30px;
  padding-bottom: 0px;
}
.sub-head2 {
  font-weight: 400;
  padding-bottom: 30px;
}
.padd {
 padding-bottom: 30px;
}
.padd2 {
  padding-left: 50px;
  padding-right: 50px;
  margin-left: 10px;
  margin-right: 10px;
}
.light {
  color: #f8f9fa;
}
.y {
  color: #FFCC4D;
}
.r {
  color: #EA6F74;
}
.g {
  color: #87B849;
}
.center {
  display: flex !important;
  justify-content: center;
  align-items: center;
  text-align: center;
}